html,body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
p {
  font-family: 'Neucha', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
// font-family: 'PT Sans', sans-serif;
// font-family: 'Ruslan Display', cursive;
